<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>

    <nav class="navbar">
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
            class="img1" />
        <a href="#" class="nav-link">Pinterest</a>
        <a href="/profile" class="nav-link nav-link-differ">Profile</a>
        <a href="/profile/posts" class="nav-link nav-link-differ">Posts</a>
        <a href="/logout" class="btn-custom">Log Out</a>
    </nav>

    


    <!-- <div class="container">

        <div class="box">
            <a href="https://sciencecalx.com/wp-content/uploads/2023/07/chemistry.png">
                <img src="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg" alt="image">
            </a>
            <div class="caption">Lorem ipsum </div>
        </div>
    </div> -->

</body>

</html>