<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinfinity/Register</title>
  <link rel="shortcut icon" href="/images/Pinfinity.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="/images/Pinfinity.png" alt="pin logo"
        class="img1" />
      <p class="header">Register to see more</p>

      <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" class="detail"></br>
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" class="btn int" value="Register">
      </form>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <div class="signUpButton">
          <p class="OnPin">Already on Pinterest? </p>
          <button class="signUp"><a href="/login" class="signUpA">Log In</a></button>
        </div>
      </footer>

    </div>
  </div>

</body>

</html>